/* Work in Progress header */
body h1 {
    font-size:50px;
}

/* Styling for the header. */
header {
    background-color:#470024;
}

header h1 {
    display: inline;
}

#follow-menu {
    display: none;
}

/* Styling for navigation */
.navigation p {
    display: inline;
}

