/* The page itself. */
body, html {
    margin: 0px;
}

/* Styling for the header. */
header {
    padding: 20px;
    background-color:#751975;
}

header h1 {
    display: inline;
}

#follow-menu-button {
    display: inline;
}

#follow-menu {
    display: none;
}

/* Styling for navigation */
.navigation {
    background-color: #914791;
    padding: 10px;
}
.navigation p {
    display: inline;
    margin-left: 5px;
    margin-right: 10px;
}

